<link rel="stylesheet" href="css/styles.css">

<nav class="navbar">

        <div class="navbar-name"> Fresco Diario </div>
        <div class = "pages">
            <ul>
                <li><a href = "/">Home</a></li>
                <li><a href = "/about">About</a></li>
                <li><a href = "/menu">Menu</a></li> 
                <li><a href = "/staff">Staff</a></li> 
        </ul>
    </div>
</nav>